In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()

In [2]:
dataku = pd.read_csv('kapal_titanic.csv')

In [3]:
dataku.head(10)

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN
5         0       3    male   NaN      0      0   8.4583        Q  NaN
6         0       1    male  54.0      0      0  51.8625        S    E
7         0       3    male   2.0      3      1  21.0750        S  NaN
8         1       3  female  27.0      0      2  11.1333        S  NaN
9         1       2  female  14.0      1      0  30.0708        C  NaN

In [4]:
from scipy.stats import zscore

In [6]:
type(dataku.fare)

pandas.core.series.Series

In [9]:
dataku = np.array(dataku.fare)

In [10]:
nilai_z = zscore(dataku)

In [11]:
nilai_z_abs = np.abs(nilai_z)

In [ ]:
dataku[.apply(zscore)