In [1]:
import pandas as pd

In [2]:
satu = pd.DataFrame({'key':['k0','k1','k2','k3','k4'],
                        'one':[1,2,3,4,5],
                        'two':[6,7,8,9,10]})

In [4]:
dua = pd.DataFrame({'key':['k0','k1','k2','k3','k4'],
                        'three':[1,2,3,4,5],
                        'four':[6,7,8,9,10]})

In [5]:
baru = pd.merge(satu,dua, how='inner', on='key')
baru

  key  one  two  three  four
0  k0    1    6      1     6
1  k1    2    7      2     7
2  k2    3    8      3     8
3  k3    4    9      4     9
4  k4    5   10      5    10

In [8]:
satu = pd.DataFrame({'key1':['K0','K0','K1','K2'],
                     'key2':['K0','K0','K1','K2'],
                        'A':['A0','A0','A1','A2'],
                        'B':['B0','B0','B1','B2']})

dua = pd.DataFrame({'key1':['K0','K0','K1','K2'],
                     'key2':['K0','K0','K1','K2'],
                        'C':['C0','C0','C1','C2'],
                        'D':['D0','D0','D1','D2']})